@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
  padding: 0;
  color: #333;
  margin-top: 12px;
}

.outer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 36px;
}

@media screen and (max-width: 900px) {
  /* small screens */
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.intro {
  margin-bottom: 12px;
}

.center {
  text-align: center;
}

h1 {
  font-size: 48px;
  color: #4285f4;
  margin: 0;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #4d90fe;
  box-shadow: 0 0 8px rgba(77, 144, 254, 0.5);
}

#checkbox-container {
  margin-left: 12px;
  user-select: none; /* prevent accidental text selection when user clicks */
  text-align: left;
}

#select,
#deselect {
  font-size: 80%;
  color: #4285f4;
  cursor: pointer;
}

#select:hover,
#deselect:hover {
  text-decoration: underline;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 3%;
  cursor: pointer;
  margin-top: 16px;
}

button:hover {
  background-color: #ccc;
  border-color: #ccc;
}

button:active {
  background-color: #ccc;
  border-color: #ccc;
}

footer {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.github-link {
  color: #3c4043;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.github-link:hover {
  text-decoration: underline;
}
